.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputField {
  width: 100%;
  align-items: space-between;
}

.input {
  width: 100%;
}